In [177]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [178]:
from sklearn import preprocessing
from sklearn.metrics import roc_curve, auc
from sklearn import datasets
from sklearn.multiclass import OneVsRestClassifier
from sklearn.svm import LinearSVC
from sklearn.preprocessing import LabelBinarizer
#from sklearn.cross_validation import train_test_split
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
%matplotlib

Using matplotlib backend: Qt5Agg

In [179]:
df=pd.read_csv('Heart Disease.csv')
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,num
0,63,1,4,140,260,0,1,112,1,3,2,?,?,2
1,44,1,4,130,209,0,1,127,0,0,?,?,?,0
2,60,1,4,132,218,0,1,140,1,1.5,3,?,?,2
3,55,1,4,142,228,0,1,149,1,2.5,1,?,?,1
4,66,1,3,110,213,1,2,99,1,1.3,2,?,?,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,54,0,4,127,333,1,1,154,0,0,?,?,?,1
196,62,1,1,?,139,0,1,?,?,?,?,?,?,0
197,55,1,4,122,223,1,1,100,0,0,?,?,6,2
198,58,1,4,?,385,1,2,?,?,?,?,?,?,0
199,62,1,2,120,254,0,2,93,1,0,?,?,?,1

# EDA

# DATA CLEANING

In [180]:
#Removal of unwanted observations

In [181]:
df.shape

(200, 14)

In [182]:
duplicate = df[df.duplicated()] 
duplicate

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,num
187,58,1,3,150,219,0,1,118,1,0,?,?,?,2

In [183]:
df.chol.unique()

array(['260', '209', '218', '228', '213', '0', '236', '267', '166', '220',
       '177', '186', '100', '171', '230', '281', '203', '277', '233',
       '240', '153', '224', '316', '311', '270', '217', '214', '252',
       '339', '216', '276', '458', '241', '384', '297', '248', '308',
       '208', '227', '210', '245', '225', '198', '195', '161', '258',
       '235', '305', '223', '282', '349', '?', '160', '312', '283', '142',
       '211', '306', '222', '202', '197', '204', '274', '192', '298',
       '272', '200', '261', '181', '221', '175', '219', '310', '232',
       '273', '182', '292', '289', '193', '170', '369', '173', '271',
       '244', '285', '243', '237', '165', '287', '256', '264', '226',
       '207', '284', '337', '254', '300', '333', '139', '385'],
      dtype=object)

In [184]:
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,num
0,63,1,4,140,260,0,1,112,1,3,2,?,?,2
1,44,1,4,130,209,0,1,127,0,0,?,?,?,0
2,60,1,4,132,218,0,1,140,1,1.5,3,?,?,2
3,55,1,4,142,228,0,1,149,1,2.5,1,?,?,1
4,66,1,3,110,213,1,2,99,1,1.3,2,?,?,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,54,0,4,127,333,1,1,154,0,0,?,?,?,1
196,62,1,1,?,139,0,1,?,?,?,?,?,?,0
197,55,1,4,122,223,1,1,100,0,0,?,?,6,2
198,58,1,4,?,385,1,2,?,?,?,?,?,?,0
199,62,1,2,120,254,0,2,93,1,0,?,?,?,1

In [185]:
df.shape

(200, 14)

# CHECKING THE NULL VALUES AND DROPING THE COLUMNS

In [186]:
df1 = df.replace("?",np.nan)

In [187]:
df1.isnull().sum()

age           0
sex           0
cp            0
trestbps     56
chol          7
fbs           7
restecg       0
thalach      53
exang        53
oldpeak      56
slope       102
ca          198
thal        166
num           0
dtype: int64

In [188]:
import seaborn as sns
sns.heatmap(df1.isnull())

# lABEL ENCODING AND STANDARDISATION TECHNIQUE

In [189]:
# for each column, get value counts in decreasing order and take the index (value) of most common class
df2= df1.apply(lambda x: x.fillna(x.value_counts().index[0]))
df2

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,num
0,63,1,4,140,260,0,1,112,1,3,2,0,7,2
1,44,1,4,130,209,0,1,127,0,0,2,0,7,0
2,60,1,4,132,218,0,1,140,1,1.5,3,0,7,2
3,55,1,4,142,228,0,1,149,1,2.5,1,0,7,1
4,66,1,3,110,213,1,2,99,1,1.3,2,0,7,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,54,0,4,127,333,1,1,154,0,0,2,0,7,1
196,62,1,1,120,139,0,1,120,1,0,2,0,7,0
197,55,1,4,122,223,1,1,100,0,0,2,0,6,2
198,58,1,4,120,385,1,2,120,1,0,2,0,7,0
199,62,1,2,120,254,0,2,93,1,0,2,0,7,1

In [190]:
df2

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,num
0,63,1,4,140,260,0,1,112,1,3,2,0,7,2
1,44,1,4,130,209,0,1,127,0,0,2,0,7,0
2,60,1,4,132,218,0,1,140,1,1.5,3,0,7,2
3,55,1,4,142,228,0,1,149,1,2.5,1,0,7,1
4,66,1,3,110,213,1,2,99,1,1.3,2,0,7,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,54,0,4,127,333,1,1,154,0,0,2,0,7,1
196,62,1,1,120,139,0,1,120,1,0,2,0,7,0
197,55,1,4,122,223,1,1,100,0,0,2,0,6,2
198,58,1,4,120,385,1,2,120,1,0,2,0,7,0
199,62,1,2,120,254,0,2,93,1,0,2,0,7,1

In [191]:
df2.isnull().values.any()

False

In [192]:
df2.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
num         0
dtype: int64

In [193]:
import seaborn as sns
sns.heatmap(df2.isnull())

In [194]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       200 non-null    int64
 1   sex       200 non-null    int64
 2   cp        200 non-null    int64
 3   trestbps  200 non-null    object
 4   chol      200 non-null    object
 5   fbs       200 non-null    object
 6   restecg   200 non-null    int64
 7   thalach   200 non-null    object
 8   exang     200 non-null    object
 9   oldpeak   200 non-null    object
 10  slope     200 non-null    object
 11  ca        200 non-null    object
 12  thal      200 non-null    object
 13  num       200 non-null    int64
dtypes: int64(5), object(9)
memory usage: 22.0+ KB

In [195]:
df2.dtypes

age          int64
sex          int64
cp           int64
trestbps    object
chol        object
fbs         object
restecg      int64
thalach     object
exang       object
oldpeak     object
slope       object
ca          object
thal        object
num          int64
dtype: object

In [196]:
df2.skew()

age        -0.404091
sex        -5.552105
cp         -1.648734
trestbps   -0.773003
chol       -0.469975
fbs         0.680636
restecg     0.391463
thalach     0.265689
exang      -1.102593
oldpeak     0.823429
slope       0.210521
ca          0.000000
thal       -5.920627
num         0.297393
dtype: float64

In [197]:
df2.columns

Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal', 'num'],
      dtype='object')

In [198]:
df2.describe(include='all')

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,num
count,200.000000,200.000000,200.000000,200,200,200,200.000000,200,200,200,200,200,200,200.000000
unique,NaN,NaN,NaN,40,99,2,NaN,59,2,14,3,1,3,NaN
top,NaN,NaN,NaN,120,0,0,NaN,120,1,0,2,0,7,NaN
freq,NaN,NaN,NaN,72,56,132,NaN,65,148,96,155,200,188,NaN
mean,59.350000,0.970000,3.505000,NaN,NaN,NaN,0.735000,NaN,NaN,NaN,NaN,NaN,NaN,1.520000
std,7.811697,0.171015,0.795701,NaN,NaN,NaN,0.683455,NaN,NaN,NaN,NaN,NaN,NaN,1.219441
min,35.000000,0.000000,1.000000,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
25%,55.000000,1.000000,3.000000,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
50%,60.000000,1.000000,4.000000,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,1.000000
75%,64.000000,1.000000,4.000000,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,3.000000
max,77.000000,1.000000,4.000000,NaN,NaN,NaN,2.000000,NaN,NaN,NaN,NaN,NaN,NaN,4.000000

In [199]:
import seaborn as sns
sns.heatmap(df2.isnull())

In [200]:
# CHECKING THE OUTLIERS

In [201]:
plt.figure(figsize=(18,10))
df2.plot.box()
sns.set_context('paper', font_scale=1.8)

In [202]:
df2.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,num
0,63,1,4,140,260,0,1,112,1,3,2,0,7,2
1,44,1,4,130,209,0,1,127,0,0,2,0,7,0
2,60,1,4,132,218,0,1,140,1,1.5,3,0,7,2
3,55,1,4,142,228,0,1,149,1,2.5,1,0,7,1
4,66,1,3,110,213,1,2,99,1,1.3,2,0,7,0

# CHECKING THE CORELATIONS

In [203]:
plt.figure(figsize=(12,8))
sns.heatmap(df.corr(),annot=True)
sns.set_context('paper', font_scale=1.8)

# UNIVARIATE AND BIVARIATE ANALYSIS

In [204]:
df2.hist(figsize=(15,15))

array([[<matplotlib.axes._subplots.AxesSubplot object at 0x0000018C1E3A91C0>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x0000018C1E7C3DC0>],
       [<matplotlib.axes._subplots.AxesSubplot object at 0x0000018C1E7FC250>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x0000018C1E8276A0>],
       [<matplotlib.axes._subplots.AxesSubplot object at 0x0000018C1E853B20>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x0000018C1E87FFD0>]],
      dtype=object)

In [205]:
#provide univarient-distribution for one variable
sns.distplot(df2['age'])

In [206]:
#provide univarient-distribution for one variable
sns.distplot(df2['trestbps'])

In [207]:
#provide univarient-distribution for one variable
sns.distplot(df2['chol'])

In [208]:
sns.pairplot(df2)

In [209]:
df2.columns

Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal', 'num'],
      dtype='object')

In [210]:
sns.kdeplot(df2['num'])

In [211]:
sns.kdeplot(df2['trestbps'])

In [212]:
sns.kdeplot(df2['chol'])

In [213]:
df2.columns

Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal', 'num'],
      dtype='object')

In [214]:
sns.barplot(x='sex',y='num', data=df2)

In [215]:
sns.barplot(x='sex',y='cp', data=df2)

In [216]:
sns.barplot(x='sex',y='age', data=df2)

In [217]:
df2.dtypes

age          int64
sex          int64
cp           int64
trestbps    object
chol        object
fbs         object
restecg      int64
thalach     object
exang       object
oldpeak     object
slope       object
ca          object
thal        object
num          int64
dtype: object

In [218]:
df2.num.value_counts()

1    56
0    51
3    42
2    41
4    10
Name: num, dtype: int64

In [219]:
df2.describe(include='all')

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,num
count,200.000000,200.000000,200.000000,200,200,200,200.000000,200,200,200,200,200,200,200.000000
unique,NaN,NaN,NaN,40,99,2,NaN,59,2,14,3,1,3,NaN
top,NaN,NaN,NaN,120,0,0,NaN,120,1,0,2,0,7,NaN
freq,NaN,NaN,NaN,72,56,132,NaN,65,148,96,155,200,188,NaN
mean,59.350000,0.970000,3.505000,NaN,NaN,NaN,0.735000,NaN,NaN,NaN,NaN,NaN,NaN,1.520000
std,7.811697,0.171015,0.795701,NaN,NaN,NaN,0.683455,NaN,NaN,NaN,NaN,NaN,NaN,1.219441
min,35.000000,0.000000,1.000000,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
25%,55.000000,1.000000,3.000000,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
50%,60.000000,1.000000,4.000000,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,1.000000
75%,64.000000,1.000000,4.000000,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,3.000000
max,77.000000,1.000000,4.000000,NaN,NaN,NaN,2.000000,NaN,NaN,NaN,NaN,NaN,NaN,4.000000

In [230]:
sns.countplot(x='age',data=df)

# FIND THE INPUT FEATURES AND TARGET VARIABLES

In [220]:
from sklearn.preprocessing import StandardScaler

In [221]:
y=df2.iloc[:,:-1]
y.head()

   age  sex  cp trestbps chol fbs  restecg thalach exang oldpeak slope ca thal
0   63    1   4      140  260   0        1     112     1       3     2  0    7
1   44    1   4      130  209   0        1     127     0       0     2  0    7
2   60    1   4      132  218   0        1     140     1     1.5     3  0    7
3   55    1   4      142  228   0        1     149     1     2.5     1  0    7
4   66    1   3      110  213   1        2      99     1     1.3     2  0    7

In [222]:
from sklearn.metrics import confusion_matrix 
from sklearn.model_selection import train_test_split

In [223]:
X=df2.iloc[:, :-1].values
y=df2.iloc[:, -1].values
X=X.reshape(-1,1)

In [224]:
x

array([[ 0.46842053,  0.17586311,  0.62365375, ..., -0.62360956,
         1.96927621, -0.51558005],
       [-1.96993293,  0.17586311,  0.62365375, ..., -0.62360956,
        -0.50780078, -0.51558005],
       [ 0.08341736,  0.17586311,  0.62365375, ..., -0.62360956,
         1.96927621, -0.51558005],
       ...,
       [-0.55825461,  0.17586311,  0.62365375, ..., -0.62360956,
         1.96927621, -0.51558005],
       [-0.17325143,  0.17586311,  0.62365375, ..., -0.62360956,
        -0.50780078, -0.51558005],
       [ 0.34008614,  0.17586311, -1.8961594 , ...,  1.60356745,
        -0.50780078, -0.51558005]])

In [225]:
y

array([2, 0, 2, 1, 0, 0, 3, 0, 3, 1, 0, 1, 1, 1, 1, 0, 4, 1, 0, 0, 2, 1,
       3, 0, 2, 2, 2, 1, 1, 3, 3, 3, 3, 3, 2, 3, 2, 0, 1, 0, 3, 1, 3, 0,
       4, 2, 1, 0, 2, 0, 1, 0, 2, 0, 1, 2, 2, 3, 0, 1, 0, 2, 1, 4, 2, 2,
       3, 1, 1, 1, 0, 2, 0, 3, 3, 1, 2, 3, 2, 1, 0, 2, 2, 2, 4, 2, 3, 0,
       1, 1, 3, 0, 3, 1, 0, 3, 0, 1, 1, 0, 1, 3, 1, 1, 0, 3, 1, 1, 0, 0,
       3, 0, 3, 1, 1, 3, 2, 2, 3, 1, 2, 3, 1, 0, 1, 4, 1, 2, 0, 0, 1, 3,
       1, 0, 3, 0, 3, 3, 0, 2, 0, 4, 2, 4, 0, 0, 0, 1, 3, 3, 0, 3, 1, 1,
       2, 2, 2, 2, 2, 1, 4, 3, 3, 3, 1, 3, 2, 0, 2, 1, 1, 0, 3, 1, 0, 0,
       4, 2, 3, 1, 1, 0, 1, 1, 0, 1, 3, 2, 2, 0, 0, 4, 3, 1, 2, 1, 0, 2,
       0, 1], dtype=int64)

In [226]:
x_train, x_test, y_train, y_test = train_test_split(x, y, random_state = 0)

# THINK WHICH MODEL CAN BE APPLIED OVER THE DATASET

In [227]:
# training a linear SVM classifier 
from sklearn.svm import SVC 
svm_model_linear = SVC(kernel = 'linear', C = 1).fit(x_train, y_train) 
svm_predictions = svm_model_linear.predict(x_test)

In [228]:
# model accuracy for X_test   
accuracy = svm_model_linear.score(x_test, y_test) 
  
# creating a confusion matrix 
cm = confusion_matrix(y_test, svm_predictions)

In [229]:
report=classification_report(y_test, svm_predictions)

NameError: name 'classification_report' is not defined

In [ ]:
accuracy

In [ ]:
cm

In [ ]:
report

In [ ]:
from sklearn import datasets 
from sklearn.metrics import confusion_matrix 
from sklearn.model_selection import train_test_split

In [ ]:
from sklearn.neighbors import KNeighborsClassifier 
knn = KNeighborsClassifier(n_neighbors = 7).fit(x_train, y_train) 
  
# accuracy on X_test 
accuracy = knn.score(x_test, y_test) 
  
accuracy

In [ ]:
# creating a confusion matrix 
knn_predictions = knn.predict(x_test)  
cm = confusion_matrix(y_test, knn_predictions)

In [ ]:
cm

In [ ]:
report=classification_report(y_test, knn_predictions)

In [ ]:
report

In [ ]:
# training a Naive Bayes classifier 
from sklearn.naive_bayes import GaussianNB 
gnb = GaussianNB().fit(x_train, y_train) 
gnb_predictions = gnb.predict(x_test) 
  
# accuracy on X_test 
accuracy = gnb.score(x_test, y_test)

In [ ]:
accuracy

In [ ]:
# creating a confusion matrix 
cm = confusion_matrix(y_test, gnb_predictions)

In [ ]:
report1=classification_report(y_test, gnb_predictions)

In [ ]:
cm

In [ ]:
report1

In [ ]:
# creating a confusion matrix 
knn_predictions = knn.predict(x_test)  
cm = confusion_matrix(y_test, knn_predictions)

In [ ]:
cm

In [ ]:
a = pd.get_dummies(df['num'], prefix = "num")

In [ ]:
frames = [df2, a]
df3 = pd.concat(frames, axis = 1)
df3.head()

In [ ]:
from sklearn.preprocessing import StandardScaler

In [ ]:
x=df3.iloc[:, :-1]
x.head()

In [ ]:
ss= StandardScaler()
x= ss.fit_transform(x)

In [ ]:
y=df3.iloc[:,-6:-1]
y.head()

In [ ]:
#from sklearn import preprocessing
#y = preprocessing.label_binarize(y, classes=[0, 1, 2, 3])

In [ ]:
from sklearn.model_selection import train_test_split,cross_val_score

In [ ]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.30, random_state=9,stratify=y)

In [ ]:
print(x_train.shape,x_test.shape)

In [ ]:
print(y_train.shape,y_test.shape)

# ACCURACY SCORE CONFUSION MATRICS CLASSIFICATION REPORT SHOULD BE APPLIED

In [ ]:
from sklearn.multioutput import MultiOutputClassifier

knn = KNeighborsClassifier(n_neighbors=3)
classifier = MultiOutputClassifier(knn, n_jobs=-1)
classifier.fit(x,y)

In [ ]:
y_pred=classifier.predict(x)
y_pred

In [ ]:
classifier.score(x, y)

In [ ]:
from sklearn.metrics import confusion_matrix 
from sklearn.model_selection import train_test_split

In [ ]:
def multiclass_roc_auc_score(y_test, y_pred, average="macro"):
    lb = LabelBinarizer()
    lb.fit(y_test)
    y_test = lb.transform(y_test)
    y_pred = lb.transform(y_pred)
    return roc_auc_score(y_test, y_pred, average=average)